/*-------------------------------         section          -----------------------------------*/
section h2 {
  position: relative;
  color: #000;
  font-size: 36px;
  font-weight: 300;
  padding-left: 30px;
  margin-bottom: 50px;
}

section h2:before {
  content: '';
  position: absolute;
  background: #f8b600;
  left: 0;
  top: 15px;
  width: 10px;
  height: 10px;
}

section h2:after {
  content: '';
  position: absolute;
  background: #f8b600;
  left: 0;
  bottom: -10px;
  width: 380px;
  height: 1px;
}

.button {
  max-width: 100%;
}

/*-------------------------------         about          -----------------------------------*/
.about {
  position: relative;
  margin-bottom: 50px;
}

.about-left {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.about-left img {
  max-width: 100%;
  margin-bottom: 10px;
}

.about-left p {
  padding-bottom: 15px;
}

.about-left strong {
  color: #f8b600;
  font-weight: 300;
}

.about-founder {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 25px;
}

.about-title {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

.about-subtitle {
  position: relative;
  color: #f8b600;
  font-size: 18px;
  margin-bottom: 30px;
}

.about-subtitle:before {
  content: '';
  position: absolute;
  background: #f8b600;
  left: 0;
  bottom: -15px;
  width: 180px;
  height: 1px;
}

.about-question {
  font-size: 18px;
  line-height: 30px;
}

.about-question .button {
  margin-top: 10px;
}

.button-green {
  background: transparent;
  height: 55px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  line-height: 55px;
}

.button-green:hover {
  background: #c1f0c1;
  color: #000;
  text-decoration: none;
}

.button-green:active {
  background: transparent;
}

.button-green:focus, .button-green:visited {
  color: #000;
  text-decoration: none;
}

.button-green .caret {
  border-style: solid;
  border-width: 8px 13px 8px 13px;
  border-color: transparent transparent transparent #33cc33;
  transform: rotate(0);
  margin-left: 20px;
}

/*-------------------------------         documents          -----------------------------------*/
.documents {
  position: relative;
  margin-bottom: 50px;
}

.document-img {
  position: relative;
  display: inline-block;
  vertical-align: top;
  line-height: 0;
  border: 10px solid #f8b600;
}

.document-img img {
  max-width: 100%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.35);
}

.a-download {
  position: relative;
  display: inline-block;
  width: 100%;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  text-decoration: none;
  border: 1px dashed #f8b600;
  border-radius: 20px;
  padding: 10px 30px;
  margin-top: 20px;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.a-download:hover {
  background: #f8b600;
  color: #fff;
  border-color: #fff;
}

.a-download:hover .caret {
  border-top-color: #fff;
}

.a-download:active {
  background: transparent;
  color: #000;
  border-color: #f8b600;
}

.a-download:active .caret {
  border-top-color: #f8b600;
}

.a-download:focus, .a-download:visited {
  color: #000;
  text-decoration: none;
}

.a-download .caret {
  position: absolute;
  top: 50%;
  right: 15px;
  border-width: 8px 6px;
  border-top-color: #f8b600;
  margin-top: -4px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*-------------------------------         stakeholder          -----------------------------------*/
.stakeholder {
  position: relative;
}

.stakeholder-text {
  font-size: 36px;
}

.stakeholder-text .text-warning {
  color: #f8b600;
}

.stakeholder-text img {
  max-width: 100%;
}

/*-------------------------------         map          -----------------------------------*/
#map {
  position: relative;
  height: 500px;
}

/*-------------------------------         footer          -----------------------------------*/
.footer {
  background: #d8b95b url("../img/footer-bg.jpg") center bottom no-repeat;
  background-size: cover;
  font-size: 20px;
  font-weight: 300;
  padding: 60px 0 15px;
}

.footer .phone, .footer .mail {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.footer .phone img, .footer .mail img {
  position: relative;
  top: 10px;
  padding-right: 10px;
}

.footer-top {
  padding-bottom: 60px;
}

.footer-left {
  border-right: 1px solid #654215;
}

.footer-right {
  font-size: 16px;
}

.footer-right h2 {
  position: relative;
  color: #000;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 20px;
}

.footer-bottom {
  border-top: 1px solid #fff;
  padding-top: 15px;
}

.footer-bottom a {
  color: #000;
}

.footer-bottom a:hover {
  color: #900;
  text-decoration: underline;
}

.footer-bottom a:active {
  color: #8a00ff;
}

#top {
  position: fixed;
  display: none;
  background: rgba(51, 204, 51, 0.3);
  right: 5%;
  bottom: 20%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 1px solid #33cc33;
  cursor: pointer;
  z-index: 50;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#top:hover {
  background: rgba(51, 204, 51, 0.5);
}

#top img {
  max-width: 100%;
}

/*-------------------------------         media          -----------------------------------*/
@media only screen and (max-width: 991px) {
  .about-left {
    display: inline-block;
    margin-bottom: 20px;
  }
  .document-box {
    text-align: center;
    margin-bottom: 30px;
  }
  .stakeholder {
    padding-bottom: 50px;
  }
  .footer-left {
    border: 0;
    margin-bottom: 30px;
  }
  .footer-center {
    margin-bottom: 30px;
  }
  .footer-bottom {
    text-align: center;
  }
  .footer-bottom .text-right {
    text-align: center;
  }
}
